* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  word-wrap: break-word;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #cb4200;
  color: white;

  padding: 1em;
}

#app {
  width: 100vw;
}

.logged-in-view {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 15px;
  border-radius: 1px solid black;
}

.post-form {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.post-form input {
    background-color: rgb(198, 216, 221);
}
.post-form textarea {
    background-color: rgb(198, 216, 221);
}
.post-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.post-form > h2 {
  margin-left: 3px;
}

.list {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    margin: 3px;
}

.post {
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 10px;

  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  background-color: rgb(255, 236, 214);
}
.post > * {
    padding: 3px;
}

.messageView {
  padding: 5px;
}

button {
  border-radius: 5px;
  padding: 5px 5px;
  margin: 3px;
  background-color: lightblue;
}

button:hover {
  background-color: darkcyan;
}

button:active {
  background-color: blue;
  color: azure;
}

input {
  border: 1px solid black;
  margin: 3px;
  border-radius: 5px;
  padding: 2px 5px;
}

textarea {
  border: 1px solid black;
  margin: 3px;
  border-radius: 5px;
  padding: 2px 5px;
}

#search {
  background-color: lightgray;
  padding: 5px;
}
#search > input {
  width: 50vw;
  margin-left: 15px;
}

#contents {
  height: 150px;
}