* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.log-form {
    position: relative;
    top: 50px;
    left: 38%;

    height: 150px;
    width: 300px;

    display: flex;
    justify-content: center;
    border-radius: 1px solid black;

    box-shadow: 2px 0px -4px 2px;
    background-color: aquamarine;
}


#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #cb4200;
    color: white;

    padding: 1em;
}

.accounts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 5px;
}

.logged-in-view {
    display: flex;
    flex-direction: row-reverse;
}

.post-form {
    display: flex;
    flex-direction: column;
}

